@page "/ForgotPassword"
@inherits ForgotPasswordComponentBase
@layout EmptyLayout
@if (ErrorMessage != null)
{
    <ErrorRoutingMessage Message="@ErrorMessage"></ErrorRoutingMessage>
}
@if(SuccessMessage != null)
{
    <CorrectRoutingMessage Message="@SuccessMessage"></CorrectRoutingMessage>
}





<div class=" vertical-center text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
             
                    <img class="mb-4" src="/Logo.png" width="200">


                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingInput" @bind="Email" placeholder="name@example.com"></input>
                        <label for="floatingInput">Email</label>
                    </div>
                    <button @onclick="OnResetPassword" class=" w-100 btn btn-primary mb-3">Validate</button>
                   
              
            </div>
        </div>
    </div>
</div>
@if (IsLoading == true)
{
    <WaitComponent />
}
