@page "/OrdreMidical/{AppointmentId}/{FileId}"
@inherits PageOrdreMedicalComponentBase

@if (ErrorMessage != null)
{
    <ErrorRoutingMessage Message="@ErrorMessage"></ErrorRoutingMessage>
}

@if (SuccessMessage != null)
{
    <CorrectRoutingMessage></CorrectRoutingMessage>
}

@if (isLoading == true)
{
    <WaitComponent />
}



<div class="shadow-lg p-3 mb-5 bg-light rounded">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <img src="/OrdreFile.jpg" class="img-fluid rounded-circle" alt="Photo du propriétaire">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 mx-auto">
                <ul class="list-group list-group-flush ">
                    <li class="list-group-item border-bottom">First Name : </li>
                    <li class="list-group-item border-bottom">Last Name:</li>
                    <li class="list-group-item border-bottom">Sexe : </li>
                    <li class="list-group-item border-bottom">National Number : </li>
                    <li class="list-group-item border-bottom">Phone Number : </li>
                </ul>
            </div>
        </div>
    </div>
</div>



<!-- Modal Add File -->

<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Prescription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
               @foreach(var PrescriptionItem in ListPrescriptionLineDto)
                {
                
                        <div class="form-control d-flex">
                        <input class="form-control w-50" @bind="PrescriptionItem.MedicamentName" type="text" placeholder="Name Of Medicament">  <input class="form-control w-25" @bind="PrescriptionItem.Description" type="text" placeholder="Description">   <input @bind="PrescriptionItem.Quantity" class="form-control w-25" type="number" min="0" placeholder="Quantity">
                        </div>
                    
                    
                }
              
                @if (PrescriptionDto != null)
                {
                    <div class="form-control d-flex">
                        <input class="form-control w-50" @bind="PrescriptionLineDto.MedicamentName" type="text" placeholder="Name Of Medicament">  <input class="form-control w-25" @bind="PrescriptionLineDto.Description" type="text" placeholder="Description">   <input @bind="PrescriptionLineDto.Quantity" class="form-control w-25" type="number" min="0" placeholder="Quantity">
                    </div>
                    <input class="form-control" @bind="PrescriptionDto.Instruction" type="text" placeholder="Instruction">
                }
              
                <div class="form-control">
                    <button class="btn btn-success" style="width:100%;" @onclick="OnAddLine" data-bs-toggle="modal">+ Add Prescription</button>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">File Docx</label>
                    <InputFile class="form-control" type="file" OnChange="HandleFilePrescriptionSelected" />
                </div>
            </div>
            <div class="modal-footer">

                <button class="btn btn-danger" data-bs-target="#exampleModalToggle2" @onclick="OnSkipePrescription" data-bs-toggle="modal" data-bs-dismiss="modal">Skip</button>
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Radio</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <EditForm Model="RadioToAddDto">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Radio Instruction:</label>
                        <input type="text" @bind="RadioToAddDto.Instruction" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Radio Description::</label>
                        <textarea class="form-control" @bind="RadioToAddDto.Description" id="message-text"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Default file input example</label>
                        <InputFile class="form-control" type="file" OnChange="HandleFileRadioSelected" />
                    </div>
                </EditForm>

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal">previous</button>
                <button class="btn btn-danger" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal">Skip</button>
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
               
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle3" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Analyse</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <EditForm Model="AnalyseToAddDto">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Analyse Instruction:</label>
                        <input @bind="AnalyseToAddDto.Instruction" type="text" class="form-control" id="recipient-name">
                    </div>
                    <div class="mb-3">
                        <label for="message-text"  class="col-form-label">Analyse Description:</label>
                        <textarea class="form-control" @bind="AnalyseToAddDto.Description" id="message-text"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Default file input example</label>
                        <InputFile class="form-control" type="file" OnChange="HandleFileAnalyseSelected" />
                    </div>
                </EditForm>
            </div>
            <div class="modal-footer">

                <button class="btn btn-primary" data-bs-target="#exampleModalToggle3" data-bs-toggle="modal" data-bs-dismiss="modal">previous</button>
                <button class="btn btn-danger" data-bs-target="#exampleModalToggle4" data-bs-toggle="modal" data-bs-dismiss="modal">Skip</button>
                <button class="btn btn-primary" data-bs-target="#exampleModalToggle4" data-bs-toggle="modal" data-bs-dismiss="modal">Next</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalToggle4" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <EditForm Model="OrderMedicalToAddDro">
                        <DataAnnotationsValidator />
                        <ValidationSummary />
                    <div class="form-floating">
                        <InputSelect class="form-control" @bind-Value="@OrderMedicalToAddDro.Visibility">

                            <option value="0">Private</option>

                            <option value="1"> Public </option>

                        </InputSelect>
                        <label for="floatingPassword">Visibility Ordre Medical</label>
                    </div>
                <div class="mb-3">
                    <label for="message-text" class="col-form-label">Summary:</label>
                    <textarea class="form-control" @bind="OrderMedicalToAddDro.Summary" id="message-text"></textarea>
                </div>
                </EditForm>



            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" @onclick="Done" data-bs-toggle="modal" data-bs-dismiss="modal">Done</button>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="form-control">
        <button class="btn btn-secondary" style="width:100%;" data-bs-toggle="modal" data-bs-target="#exampleModalToggle">+ Add Ordre Medical</button>
    </div>
</div>
